@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.showcase2{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color:white;
    z-index: 2;
    transition: 0.5s;
}
.showcase2.active{
    right: 300px;
}
.showcase2 header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.toggle1{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }
  
.toggle1.active{
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }
.showcase2 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
  
.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: overlay;
  }

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #088178;
    color:#fff;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #2ecc71;
  }

.menu8{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.menu8 ul{
    position: relative;
    list-style: none;
  }
  
.menu8 ul li a{
    text-decoration: none;
    font-size: 30px;
    color: #111;
  }
  
.menu8 ul li a:hover{
    color: red;
  }

.menu8 ul .account{
    position: absolute;
    top: 350px;
  }
  
.menu8 ul .account a i {
    color: black;
    margin-right: 5px; /* Adjust spacing between icon and text */
  }
@media (max-width: 798px){
    .showcase2,
    .showcase2 header{
      padding: 40px;
    }
    .Gmail h5{
      font-size: 1.4em;
    }
    .Phone h5{
      font-size: 1.4em;
    }
}